*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('images/sky.jpg');
    background-repeat: no-repeat;
    background-size: 280%;
    background-position: -400px 0px;
}
div.main{
    width : 400px;
    margin: 0px auto 0px auto;
}
h3{
    text-align: center;
    padding: 20px;  
    font-family: sans-serif;
}
div.register{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px
    rgba(0,0,0,0.3);
    color: whitesmoke;
}
form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 20px;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    text-align: center;
    box-shadow: inset 1px 1px 5px
    rgba(0, 0, 0, 0.3);
}

.container{
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    text-align: center;
    margin: 0;
    transform: translateX(50%);

}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0px 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-100%) scale(1);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width:100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
label,span,h2{
    text-shadow: 1px 1px 5px
    rgba(0, 0, 0, 0.3);
}