body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #add8e6;
}

.calendar-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid#000;
}

.controls {
    margin-bottom: 20px;
}

.day-header{
    font-style:italic;
    font-weight: 1000;
    text-decoration:underline;
}
label, select {
    font-size: 15px;
    font-weight: bold;
}

select {
    padding: 5px;
    margin: 0 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day {
    font-size: 20px;
    padding: 10px;
    background-color: #808080;
    border-radius: 5px;
    cursor: pointer;
}

.day:hover {
    background-color: #c0c0c0;
}

.event-details {
    display: none;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.event-details h2 {
    margin-top: 0;
    text-decoration:underline;
    background-color: greenyellow;

}

.event-details p {
    margin: 10px 0;
    text-decoration:underline;
}

.search-box{
    width: 600px;
    background: #fff;
    margin: 25px auto 0;
    border-radius: 5px;
    border: 1px solid #000;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    background:transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
::placeholder{
    color: #555;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 10px 10px;
    margin: auto;
    border: 1px solid #000;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: #333;

}
.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}
.hero{
    width: 100%;
    position: relative;
    background: linear-gradient(45deg,#08001f,#30197d);
}
.container{
    width: 500  px;
    height: 300px;
    position: absolute;
    top: 40%;
    right: 70%;
}

.clock{
    width: 75%;
    height: 25%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    font-size: 40px;
    width: 75px;
    display: inline-block;  
    text-align: center;
    position: relative;
}

#hrs::after{
    content: 'HOURS';
}
  
#min::after{
    content: 'MINS';
}

#sec::after{
    content: 'SEC';
}
.clock span::after{
    font-size: 10px;
    position: absolute;
    bottom:-5px;
    left: 20%;
    transform: translateX(-1%);

}
  
  